<% layout('../layouts/boilerplate') -%>
<h1>StudyGroup Lists</h1>
<a href="/studygroups/new">스터디그룹 만들기</a>
<ul>
  <% for(const group of studygroups){ %>
  <li><a href="/studygroups/<%=group.id %>"><%= group.title %></a></li>
  <% } %>
</ul>
