<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Studygroup</title>
  </head>
  <body>
    <h1>StudyGroup Lists</h1>
    <a href="/studygroups/new">스터디그룹 만들기</a>
    <ul>
      <% for(const group of studygroups){ %>
      <li><a href="/studygroups/<%=group.id %>"><%= group.title %></a></li>
      <% } %>
    </ul>
  </body>
</html>
